<!DOCTYPE html>
<html>
<head>
  <title>Shoe Distribution</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <div class="navbar">
    <a class="btn btn-primary" href="/">Home</a>
  </div>
</body>
</html>
